<ul class="coins-list">
  <form class="search-form" [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Account #" formControlName="accountNumber" >
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="fromPicker" placeholder="FROM:" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toPicker" placeholder="TO:" [value]="" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
      <p>Search form value: {{ searchForm.value | json }}</p>
  </form>
  <li *ngFor="let coin of coins" routerLink="/detail/{{coin.symbol}}">
    <div class="coins-list__row" >
      <div class="badge">{{coin.id}} - {{coin.symbol}}<span *ngIf="coin.id == 'lisk'">***</span></div>
      <div>{{coin.price_usd | currency }}</div>
    </div>
  </li>
</ul>